.hero {
  position: relative;
   top: 20px;
   
}

.hero-title {
    font-size: 42px;
    margin-top: 153px;
}

.hero-description {
    font-size: 26px;
}
.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  
}
.hero-background img {
    height: 100%;
   
    object-fit: cover;
   /* background-image: url('../../images/fon.png');
    width: 100%;*/
}
.hero-foreground {
    position: relative;
    color: #fff;
}
.hero-decore {
    width: 25px;
    height: 25px;
    background-color: black;
    background-image: url(../..images/decore.png) ;
    background-position: left bottom;
    background-repeat: repeat-x;

}
.hero-iphone {
    height: 436px;
    width: 345px;
    object-fit: contain;
}