.hero {
    background-image: url(../../images/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
   
}

.hero-title {
    font-size: 42px;
   
}

.hero-description {
    font-size: 26px;
}

.hero-foreground {
    color: #fff;
}
.hero-decore {
    height: 15px;
    background-color:#403d3a;
    background-image: url(../../images/decore.png);   
    background-repeat: repeat-x;
}
.hero-iphone {
  /*  min-height: 436px;*/
    min-width: 100%;
    object-fit: contain;
}
@media (min-width: 320px) {
    .hero .hero-title  {
        margin: 0 auto;     
    }
    .hero {
      text-align: center;
    }
    .hero-title {
        font-size: 31px;
    }
    .hero-description {
        font-size: 23px;
    }
    .hero-iphone {
       min-height: 223px;
       min-width: 177px;
    }
}
@media (min-width: 640px) {
    .hero  {   
      text-align: left;
      font-size: 23px;
       /* display: flex;  
        justify-content: center;
        align-items: center;*/
    }   
   
   
}
@media (min-width: 960px) {
    .hero .hero-title  {
        margin-top: 153px;        
    }
    .hero-title {
        font-size: 42px;
    }
    .hero-description {
        font-size: 26px;
    }
}